.modalTrailer {
    .modal-content {
        .closeBtn {
            font-size: 2rem;
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(0%,-90%);           
            color: red;
            &:hover{
                color: rgb(167, 42, 42);
            }
        }
    }
}
