.carouselTop {
    #carouselIndicators {
        ol {
            li {
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background-color: rgba(255, 0, 0, 0.253);
            }
            li.active {
                background-color: rgba(255, 0, 0, 0.692);
            }
        }
        .carousel-inner {
            .carousel-item {
                &:hover {
                    .playTrailer {
                        opacity: 1;
                    }
                }
                .playTrailer {
                    padding: 10rem;
                    opacity: 0;
                    z-index: 2;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 0.2s linear;
                }
            }
        }
    }
}
